adf-ucb-ffaa-10369756/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-ffaa-10369756"
		},
		"datalake_ffaa_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"datalake_ffaa\""
		},
		"datalake_fffaa_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"datalake_fffaa\""
		},
		"db_fuerzas_armadas_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"db_fuerzas_armadas\""
		},
		"datalake_ffaa_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saffaa10369756.dfs.core.windows.net/"
		},
		"db_fuerzas_armadas_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server02-fuerzas-armadas-bolivia.database.windows.net"
		},
		"db_fuerzas_armadas_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "erp-fuerzas-armadas-bolivia-2"
		},
		"db_fuerzas_armadas_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "userSisGer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_oltp_bronze')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_tbl_estructura_organizacional",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_estructura_organizacional",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_estructura_organizacional",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "cp_tbl_estructura_organizacional",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_movimientos_personal",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_movimientos_personal",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_operaciones",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_operaciones",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_rangos",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_rangos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data4",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_tipos_movimiento",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_tipos_movimento",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data5",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_tipos_operacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_tipos_operacion",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data6",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_unidades",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_unidades",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Copy data7",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_tbl_zonas",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_bronze_tbl_zonas",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_tbl_estructura_organizacional')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_estructura_organizacional')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_movimientos_personal')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_movimientos_personal')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_operaciones')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_operaciones')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_rangos')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_rangos')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_tipos_movimiento')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_tipos_movimento')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_tipos_operacion')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_tipos_operacion')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_unidades')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_unidades')]",
				"[concat(variables('factoryId'), '/datasets/ds_tbl_zonas')]",
				"[concat(variables('factoryId'), '/datasets/ds_bronze_tbl_zonas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_efectivos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_efectivos.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_especialidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_especialidades.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_estructura_organizacional')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_estructura_organizacional.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_movimientos_personal.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_operaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_operaciones.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_rangos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_rangos.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_tipos_movimento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_tipos_movimiento.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_tipos_operacion.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_unidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_unidades.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_bronze_tbl_zonas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_zonas.csv",
						"fileSystem": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_efectivos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "varchar"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "departamento_origen",
						"type": "nvarchar"
					},
					{
						"name": "fecha_ingreso",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_efectivos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_especialidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "area",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_especialidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_estructura_organizacional')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_estructura",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_padre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "sigla",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "cobertura_departamentos",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_estructura_organizacional"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_movimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_destino",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_movimiento",
						"type": "varchar"
					},
					{
						"name": "antiguedad_anios",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_movimientos_personal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_operaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_operacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_resp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre_operacion",
						"type": "nvarchar"
					},
					{
						"name": "fecha_inicio",
						"type": "varchar"
					},
					{
						"name": "fecha_fin",
						"type": "varchar"
					},
					{
						"name": "efectivos_desplegados",
						"type": "varchar"
					},
					{
						"name": "vehiculos_utilizados",
						"type": "varchar"
					},
					{
						"name": "duracion_dias",
						"type": "varchar"
					},
					{
						"name": "costo_operacion",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					},
					{
						"name": "detenidos",
						"type": "varchar"
					},
					{
						"name": "area_km2",
						"type": "varchar"
					},
					{
						"name": "incidentes",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_operaciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_rangos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "categoria",
						"type": "nvarchar"
					},
					{
						"name": "nivel_jerarquico",
						"type": "int",
						"precision": 10
					},
					{
						"name": "abreviatura",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_rangos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_tipos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_tipos_movimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "categoria",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_tipos_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_unidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_unidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_brigada",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "ciudad",
						"type": "nvarchar"
					},
					{
						"name": "departamento",
						"type": "nvarchar"
					},
					{
						"name": "tipo_cuartel",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_unidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_zonas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "departamento",
						"type": "nvarchar"
					},
					{
						"name": "frontera_con",
						"type": "nvarchar"
					},
					{
						"name": "tipo_terreno",
						"type": "varchar"
					},
					{
						"name": "altitud_msnm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel_riesgo",
						"type": "varchar"
					},
					{
						"name": "acceso_carretero",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_zonas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_ffaa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('datalake_ffaa_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('datalake_ffaa_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_fffaa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('datalake_fffaa_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_fuerzas_armadas')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('db_fuerzas_armadas_properties_typeProperties_server')]",
					"database": "[parameters('db_fuerzas_armadas_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('db_fuerzas_armadas_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('db_fuerzas_armadas_password')]"
					}
				}
			},
			"dependsOn": []
		}
	]
}