adf-ucb-ffaa-10369756/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-ffaa-10369756"
		},
		"datalake_ffaa_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"datalake_ffaa\""
		},
		"datalake_fffaa_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"datalake_fffaa\""
		},
		"db_dw_fuerzas_armadas_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"db_dw_fuerzas_armadas\""
		},
		"db_fuerzas_armadas_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"db_fuerzas_armadas\""
		},
		"datalake_ffaa_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://saffaa10369756.dfs.core.windows.net/"
		},
		"db_dw_fuerzas_armadas_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-ffaa-dw-10369756.database.windows.net"
		},
		"db_dw_fuerzas_armadas_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_fuerzas_armadas"
		},
		"db_dw_fuerzas_armadas_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "adrian"
		},
		"db_fuerzas_armadas_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "server02-fuerzas-armadas-bolivia.database.windows.net"
		},
		"db_fuerzas_armadas_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "erp-fuerzas-armadas-bolivia-2"
		},
		"db_fuerzas_armadas_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "userSisGer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_efectivo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "date"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "departamento_origen",
						"type": "varchar"
					},
					{
						"name": "fecha_ingreso",
						"type": "date"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_efectivo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_especialidad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "area",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_especialidad"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_rango')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "categoria",
						"type": "varchar"
					},
					{
						"name": "nivel_jerarquico",
						"type": "int",
						"precision": 10
					},
					{
						"name": "abreviatura",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_rango"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tiempo')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "fecha",
						"type": "date"
					},
					{
						"name": "anio",
						"type": "int",
						"precision": 10
					},
					{
						"name": "trimestre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "mes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre_mes",
						"type": "varchar"
					},
					{
						"name": "dia",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tiempo"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tipo_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tipo_movimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_tipo_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "categoria",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_tipo_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_unidad')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_unidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_brigada",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "ciudad",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "tipo_cuartel",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_unidad"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_dim_zona_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "frontera_con",
						"type": "varchar"
					},
					{
						"name": "tipo_terreno",
						"type": "varchar"
					},
					{
						"name": "altitud_msnm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel_riesgo",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "dim_zona_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_movimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_destino",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo_movimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_movimiento",
						"type": "date"
					},
					{
						"name": "antiguedad_anios",
						"type": "int",
						"precision": 10
					},
					{
						"name": "salario_mensual",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_movimiento_personal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gold_hechos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_dw_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "gold"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_operacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo_operacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_resp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_inicio",
						"type": "date"
					},
					{
						"name": "fecha_fin",
						"type": "date"
					},
					{
						"name": "efectivos_desplegados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "vehiculos_utilizados",
						"type": "int",
						"precision": 10
					},
					{
						"name": "duracion_dias",
						"type": "int",
						"precision": 10
					},
					{
						"name": "costo_operacion",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "area_km2",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "incidentes_reportados",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "gold",
					"table": "hechos_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_dw_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_efectivos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_efectivos.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_efectivo",
						"type": "String"
					},
					{
						"name": "id_especialidad",
						"type": "String"
					},
					{
						"name": "id_unidad_actual",
						"type": "String"
					},
					{
						"name": "id_rango_actual",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "ci",
						"type": "String"
					},
					{
						"name": "fecha_nacimiento",
						"type": "String"
					},
					{
						"name": "genero",
						"type": "String"
					},
					{
						"name": "departamento_origen",
						"type": "String"
					},
					{
						"name": "fecha_ingreso",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					},
					{
						"name": "salario_mensual",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_especialidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_especialidades.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_especialidad",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "area",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_estructura_organizacional')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_estructura_organizacional.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_estructura",
						"type": "String"
					},
					{
						"name": "id_padre",
						"type": "String"
					},
					{
						"name": "nivel",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "sigla",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "cobertura_departamentos",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_movimientos_personal.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_movimiento",
						"type": "String"
					},
					{
						"name": "id_efectivo",
						"type": "String"
					},
					{
						"name": "id_unidad_destino",
						"type": "String"
					},
					{
						"name": "id_rango",
						"type": "String"
					},
					{
						"name": "id_tipo",
						"type": "String"
					},
					{
						"name": "fecha_movimiento",
						"type": "String"
					},
					{
						"name": "antiguedad_anios",
						"type": "String"
					},
					{
						"name": "salario_mensual",
						"type": "String"
					},
					{
						"name": "observaciones",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_operaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_operaciones.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_operacion",
						"type": "String"
					},
					{
						"name": "id_tipo",
						"type": "String"
					},
					{
						"name": "id_unidad_resp",
						"type": "String"
					},
					{
						"name": "id_zona",
						"type": "String"
					},
					{
						"name": "nombre_operacion",
						"type": "String"
					},
					{
						"name": "fecha_inicio",
						"type": "String"
					},
					{
						"name": "fecha_fin",
						"type": "String"
					},
					{
						"name": "efectivos_desplegados",
						"type": "String"
					},
					{
						"name": "vehiculos_utilizados",
						"type": "String"
					},
					{
						"name": "duracion_dias",
						"type": "String"
					},
					{
						"name": "costo_operacion",
						"type": "String"
					},
					{
						"name": "resultado",
						"type": "String"
					},
					{
						"name": "detenidos",
						"type": "String"
					},
					{
						"name": "area_km2",
						"type": "String"
					},
					{
						"name": "incidentes",
						"type": "String"
					},
					{
						"name": "observaciones",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_rangos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_rangos.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_rango",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "categoria",
						"type": "String"
					},
					{
						"name": "nivel_jerarquico",
						"type": "String"
					},
					{
						"name": "abreviatura",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_tipos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_tipos_movimiento.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_tipo",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "descripcion",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_tipos_operacion.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_tipo",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "categoria",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_unidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_unidades.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_unidad",
						"type": "String"
					},
					{
						"name": "id_brigada",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "codigo",
						"type": "String"
					},
					{
						"name": "ciudad",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "tipo_cuartel",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_silver_zonas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_ffaa",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "tbl_zonas.csv",
						"fileSystem": "silver"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id_zona",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "frontera_con",
						"type": "String"
					},
					{
						"name": "tipo_terreno",
						"type": "String"
					},
					{
						"name": "altitud_msnm",
						"type": "String"
					},
					{
						"name": "nivel_riesgo",
						"type": "String"
					},
					{
						"name": "acceso_carretero",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_ffaa')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_efectivos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango_actual",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "varchar"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "departamento_origen",
						"type": "nvarchar"
					},
					{
						"name": "fecha_ingreso",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_efectivos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_especialidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_especialidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "area",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_especialidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_estructura_organizacional')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_estructura",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_padre",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "sigla",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "cobertura_departamentos",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_estructura_organizacional"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_movimientos_personal')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_movimiento",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_efectivo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_destino",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_movimiento",
						"type": "varchar"
					},
					{
						"name": "antiguedad_anios",
						"type": "varchar"
					},
					{
						"name": "salario_mensual",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_movimientos_personal"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_operaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_operacion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_unidad_resp",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre_operacion",
						"type": "nvarchar"
					},
					{
						"name": "fecha_inicio",
						"type": "varchar"
					},
					{
						"name": "fecha_fin",
						"type": "varchar"
					},
					{
						"name": "efectivos_desplegados",
						"type": "varchar"
					},
					{
						"name": "vehiculos_utilizados",
						"type": "varchar"
					},
					{
						"name": "duracion_dias",
						"type": "varchar"
					},
					{
						"name": "costo_operacion",
						"type": "varchar"
					},
					{
						"name": "resultado",
						"type": "varchar"
					},
					{
						"name": "detenidos",
						"type": "varchar"
					},
					{
						"name": "area_km2",
						"type": "varchar"
					},
					{
						"name": "incidentes",
						"type": "varchar"
					},
					{
						"name": "observaciones",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_operaciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_rangos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_rango",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "categoria",
						"type": "nvarchar"
					},
					{
						"name": "nivel_jerarquico",
						"type": "int",
						"precision": 10
					},
					{
						"name": "abreviatura",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_rangos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_tipos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "descripcion",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_tipos_movimiento"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_tipos_operacion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_tipo",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "categoria",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_tipos_operacion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_unidades')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_unidad",
						"type": "int",
						"precision": 10
					},
					{
						"name": "id_brigada",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "codigo",
						"type": "varchar"
					},
					{
						"name": "ciudad",
						"type": "nvarchar"
					},
					{
						"name": "departamento",
						"type": "nvarchar"
					},
					{
						"name": "tipo_cuartel",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_unidades"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_tbl_zonas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "db_fuerzas_armadas",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "OTLP"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_zona",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "nvarchar"
					},
					{
						"name": "departamento",
						"type": "nvarchar"
					},
					{
						"name": "frontera_con",
						"type": "nvarchar"
					},
					{
						"name": "tipo_terreno",
						"type": "varchar"
					},
					{
						"name": "altitud_msnm",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nivel_riesgo",
						"type": "varchar"
					},
					{
						"name": "acceso_carretero",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "oltp",
					"table": "tbl_zonas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/db_fuerzas_armadas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_ffaa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('datalake_ffaa_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('datalake_ffaa_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_fffaa')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureTableStorage",
				"typeProperties": {
					"connectionString": "[parameters('datalake_fffaa_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_dw_fuerzas_armadas')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('db_dw_fuerzas_armadas_properties_typeProperties_server')]",
					"database": "[parameters('db_dw_fuerzas_armadas_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('db_dw_fuerzas_armadas_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('db_dw_fuerzas_armadas_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/db_fuerzas_armadas')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('db_fuerzas_armadas_properties_typeProperties_server')]",
					"database": "[parameters('db_fuerzas_armadas_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('db_fuerzas_armadas_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('db_fuerzas_armadas_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_efectivo')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_efectivos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_efectivo",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_efectivo as string,",
						"          id_especialidad as string,",
						"          id_unidad_actual as string,",
						"          id_rango_actual as string,",
						"          nombre as string,",
						"          ci as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          departamento_origen as string,",
						"          fecha_ingreso as string,",
						"          estado as string,",
						"          salario_mensual as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_efectivo as integer,",
						"          id_especialidad as integer,",
						"          id_unidad_actual as integer,",
						"          id_rango_actual as integer,",
						"          nombre as string,",
						"          ci as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          departamento_origen as string,",
						"          fecha_ingreso as date,",
						"          estado as string,",
						"          salario_mensual as decimal(18,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          id_efectivo,",
						"          id_especialidad,",
						"          id_unidad_actual,",
						"          id_rango_actual,",
						"          nombre,",
						"          ci,",
						"          fecha_nacimiento,",
						"          genero,",
						"          departamento_origen,",
						"          fecha_ingreso,",
						"          estado,",
						"          salario_mensual",
						"     ),",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_efectivos')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_efectivo')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_especialidad')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_especialidades",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_especialidad",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_especialidad as string,",
						"          nombre as string,",
						"          area as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_especialidad as integer,",
						"          nombre as string,",
						"          area as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_especialidades')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_especialidad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_rango')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_rangos",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_rango",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_rango as string,",
						"          nombre as string,",
						"          categoria as string,",
						"          nivel_jerarquico as string,",
						"          abreviatura as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_rango as integer,",
						"          nombre as string,",
						"          categoria as string,",
						"          nivel_jerarquico as integer,",
						"          abreviatura as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_rangos')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_rango')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_tipo_operacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_tipos_operacion",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_tipo_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_tipo as string,",
						"          nombre as string,",
						"          categoria as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_tipo as integer,",
						"          nombre as string,",
						"          categoria as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_tipos_operacion')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_tipo_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_tipos_movimiento')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_tipo_movimiento",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_tipo_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_tipo as integer,",
						"          nombre as string,",
						"          descripcion as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_tipo as integer,",
						"          nombre as string,",
						"          categoria as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_tipo_movimiento')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_tipo_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_unidad')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_unidad",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_unidad",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_unidad as integer,",
						"          id_brigada as integer,",
						"          nombre as string,",
						"          codigo as string,",
						"          ciudad as string,",
						"          departamento as string,",
						"          tipo_cuartel as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_unidad as integer,",
						"          id_brigada as integer,",
						"          nombre as string,",
						"          codigo as string,",
						"          ciudad as string,",
						"          departamento as string,",
						"          tipo_cuartel as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_unidad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_dim_zona_operacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_zonas",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_dim_zona_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_zona as string,",
						"          nombre as string,",
						"          departamento as string,",
						"          frontera_con as string,",
						"          tipo_terreno as string,",
						"          altitud_msnm as string,",
						"          nivel_riesgo as string,",
						"          acceso_carretero as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_zona as integer,",
						"          nombre as string,",
						"          departamento as string,",
						"          frontera_con as string,",
						"          tipo_terreno as string,",
						"          altitud_msnm as integer,",
						"          nivel_riesgo as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_zonas')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_dim_zona_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_hechos_movimiento_personal')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_movimientos_personal",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_hechos_movimientos_personal",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_movimiento as string,",
						"          id_efectivo as string,",
						"          id_unidad_destino as string,",
						"          id_rango as string,",
						"          id_tipo as string,",
						"          fecha_movimiento as string,",
						"          antiguedad_anios as string,",
						"          salario_mensual as string,",
						"          observaciones as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_movimiento as integer,",
						"          id_efectivo as integer,",
						"          id_unidad_destino as integer,",
						"          id_rango as integer,",
						"          id_tipo_movimiento as integer,",
						"          fecha_movimiento as date,",
						"          antiguedad_anios as integer,",
						"          salario_mensual as decimal(18,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_movimientos_personal')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_hechos_movimientos_personal')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_gold_hechos_operacion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ds_silver_operaciones",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ds_gold_hechos_operacion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          id_operacion as string,",
						"          id_tipo as string,",
						"          id_unidad_resp as string,",
						"          id_zona as string,",
						"          nombre_operacion as string,",
						"          fecha_inicio as string,",
						"          fecha_fin as string,",
						"          efectivos_desplegados as string,",
						"          vehiculos_utilizados as string,",
						"          duracion_dias as string,",
						"          costo_operacion as string,",
						"          resultado as string,",
						"          detenidos as string,",
						"          area_km2 as string,",
						"          incidentes as string,",
						"          observaciones as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          id_operacion as integer,",
						"          id_tipo_operacion as integer,",
						"          id_unidad_resp as integer,",
						"          id_zona as integer,",
						"          fecha_inicio as date,",
						"          fecha_fin as date,",
						"          efectivos_desplegados as integer,",
						"          vehiculos_utilizados as integer,",
						"          duracion_dias as integer,",
						"          costo_operacion as decimal(18,2),",
						"          area_km2 as decimal(18,2),",
						"          incidentes_reportados as integer",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     partitionBy('hash', 1),",
						"     preCommands: [],",
						"     postCommands: []) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_silver_operaciones')]",
				"[concat(variables('factoryId'), '/datasets/ds_gold_hechos_operacion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_gold')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "efectivo",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_efectivo",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "especialidad",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "efectivo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_especialidad",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "rango",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "especialidad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_rango",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "tipo operacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "rango",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_tipo_operacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "tipos movimiento",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "tipo operacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_tipos_movimiento",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "unidad",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "tipos movimiento",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_unidad",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "zona operacion",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "unidad",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_gold_dim_zona_operacion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_efectivo')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_especialidad')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_rango')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_tipo_operacion')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_tipos_movimiento')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_unidad')]",
				"[concat(variables('factoryId'), '/dataflows/df_gold_dim_zona_operacion')]"
			]
		}
	]
}